<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DataFolderPath" value="D:/SpeedControlSystemData/"/>
    <add key="DataFilename" value="Data.csv"/>
    <add key="WorkTimeStart" value="9:00"/>
    <add key="WorkTimeEnd" value="18:00"/>
  </appSettings>
  
</configuration>